body {
  font-family: papyrus;
  background-color: black;
  text-align: center;
  padding: 50px;
}
.card img {
  width: 400px;
  height: 480px;
  border-radius: 30%;
  border-color: black;
  border-width: 10px;
  border-style: double;
  margin: 0 auto;
}
.card  {
  background-color: lavender;
  width: 500px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}